
@font-face { 
	font-family: typeWriter; 
	src: url('resources/atwriter_2.ttf'); 
	} 
body {
	background-image: url('resources/background.png');
	background-size: cover;
}
#icon{
	position: absolute;
	z-index: 0;
	right: 1%;
	width: 5%;
	top: 85%;
}
#arrow{
	position: absolute;
	z-index: 1;
	height: 40%;
	width: 15%;
	margin-top: 13%;
	visibility: hidden;
}
#limpador{
	position: relative;
	float: right;
	margin-right: 10%;
	margin-top: 2%;
	height: 30px;
	width: 30%;
	color: white;
	background-color: cadetblue;
	box-shadow: 6px 6px 4px black;
}
#demo{
	color:black;
	font-size: 30px;
}
#line {  
	white-space: nowrap; 
}
#pagina{
	font-size: 30px;
	font-family: 'typeWriter', 'monospace';
	line-height: 1.1;
	margin-right: 10%;
	box-shadow: 11px 11px 3px;
	
	height: 80%;
	width: 30%;
	background-color: white;
	float: right;
	z-index: 1;
}
#imageMachine{
	width: 42%;
	z-index: 0;
	float: left;
}